<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Mechenance</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img
          src="{{ url_for('static', filename='brand.png') }}"
          alt="Brand Logo"
          height="45"
        />
        Mechenance
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- MODEL - 1: 

INPUTS

# Air temperature [K]

# Rotational speed [rpm]

# Torque [Nm]

# Tool wear [min]

OUTPUTS:

# Prediction (Failure Type) -->
    <div class="container">
      <div class="card my-4">
        <div class="card-body">
          <form action="/predict" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="air_temp">Air Temp [K]</label>
              <input type="text" class="form-control" id="air_temp" name="air_temp" placeholder="Enter Air temp" required>
          
              <label for="process_temp">Process Temperature:</label>
              <input type="text" class="form-control" id="process_temp" name="process_temp" placeholder="Enter Process Temperature" required>
          
              <label for="rotational_speed">Rotational speed [rpm]</label>
              <input type="text" class="form-control" id="rotational_speed" name="rotational_speed" placeholder="Enter rotational speed" required>
          
              <label for="torque">Torque [Nm]</label>
              <input type="text" class="form-control" id="torque" name="torque" placeholder="Enter Torque" required>
          
              <label for="tool_wear">Tool Wear</label>
              <input type="text" class="form-control" id="tool_wear" name="tool_wear" placeholder="Enter Tool Wear" required>
          
              <label for="energy_source">Energy Source:</label>
              <select class="form-control" id="energy_source" name="energy_source" required>
                <option value="">Select Energy Source</option>
                <option value="1">Natural Gas</option>
                <option value="2">Diesel</option>
                <option value="3">Grid Electricity</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
        </div>
      </div>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
